body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-container {
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.counter-box {
  width: 50px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  margin: 0 5px;
  background-color: #000;
  border-radius: 5px;
}

.clock-icon-box {
  font-size: 2em;
}

.controls {
  margin-top: 20px;
}

.controls button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}